/*==========  Desktop First Method  ==========*/
@media only screen and (max-width : 1600px) {
	.menu a {
		font-size: 13px;
		letter-spacing: 0.2px;
		text-transform: uppercase;
	}
	.header__location {
		margin-right: 50px;
	}
	.sandwich {
		margin-right: 45px;
	}
	.header-top {
		padding: 8px 0;
		font-size: 12px;
	} 
	.logo img {
		width: 170px;
	}
	.logo-descr {
		max-width: 184px;
		font-size: 12px;
		margin-left: 14px;
	}
	body {
		font-size: 14px;
	}
	.btn-header {
		width: 55px;
	}
	.header-middle {
		padding: 12px 0;
	}
	.billbord {
		padding-top: 215px;
		min-height: 800px;
	}
	.title-big {
		font-size: 44px;
	}
	.billbord .title-big {
		margin-bottom: 13px;
		max-width: 625px;
	}
	.descr-big {
		font-size: 17px;
		line-height: 24px;
	}
	.billbord .btn-main {
		margin-top: 55px;
	}
	.billbord__video {
		padding-top: 16px;
	}
	.video-block__image {
		width: 272px;
		height: 151px;
	}
	.video-block__icon {
		width: 56px;
		height: 56px;
		margin-right: -25px;
	}
	.slider-images__item {
		height: 385px;
	}
	.row_about > div {
		padding: 39px 35px;
	}
	.item-about__title {
		font-size: 21px;
		margin-bottom: 10px;
	}
	.item-about__title sup {
		font-size: 12px;
	}
	.item-about sup {
		font-size: 9px;
	}
	.row_categories > div {
		padding: 0 12px;
	}
	.row_categories {
		margin: 0 -12px;
	}
	.item-category {
		height: 247px;
		margin-bottom: 20px;
	}
	.item-category_big {
		height: 650px;
	}
	.item-category_big {
		height: 514px;
	}
	.item-category__title {
		font-size: 15px;
		line-height: 20px;
		padding: 4px 9px;
		top: 9px;
		left: 5px;
	}
	.item-category_big .item-category__title, .item-category:nth-child(2) .item-category__title {
		bottom: 8px;
	}
	.row_categories > div:nth-child(4) .item-category:nth-child(1) {
		padding-top: 30px;
	}
	.row_categories > div:nth-child(1) .item-category:nth-child(2) {
		padding-bottom: 20px;
	}
	.row_categories > div:nth-child(2) .item-category:nth-child(1) {
		padding-bottom: 15px;
		padding-top: 20px;
	}
	.head-section {
		margin-bottom: 28px;
	}
	.title-section {
		font-size: 32px;
		line-height: 40px;
	}
	.categories {
		padding-bottom: 40px;
	}
	.item-catalog {
		padding: 23px 15px;
		padding-top: 0;
	}
	.item-catalog__title {
		margin-bottom: 11px;
		font-size: 13px;
	}
	.item-catalog .btn-main {	
		padding: 0 16px;
		font-size: 12px;
		letter-spacing: 1.1px;
	}
	.quantity {
		width: 111px;
	}
	.item-catalog__image {
		height: 265px;
		margin-bottom: 0px;
		padding: 30px;
	}
	.availability, .articul {
		font-size: 12px;
	}
	.availability::before {
		margin-right: 3px;
	}
	.item-delivery {
		padding: 40px 60px;
	}
	.item-delivery__head {
		font-size: 22px;
		margin-bottom: 20px;
	}
	.item-delivery__head img {
		margin-right: 24px;
	}
	.block-form {
		padding: 80px 40px;
	}
	.block-form .row {
		margin: 0 -7px;
	}
	.block-form .row > div {
		padding: 0 7px;
	}
	.block-form__bottom .btn-main {
		width: 190px;
	}
	.title-form {
		font-size: 26px;
		padding-bottom: 19px;
	}
	.consultation__title {
		font-size: 43px;
		margin-bottom: 32px;
		line-height: 53px;
	}
	.consultation__left {
		font-size: 16px;
	}
	.item-contact__title {
		font-size: 20px;
		line-height: 26px;
		margin-bottom: 18px;
	}
	.item-contact .title-small {
		padding-top: 9px;
		font-size: 17px;
	}
	.item-contact {
		height: 350px;
		padding: 25px 20px;
	}
	.item-contact .link-location {
		margin-top: 33px;
	}
	.line-contacts a {
		margin-right: 15px;
	}
	.footer .line-contacts {
		font-size: 14px;
		margin-top: 8px;
	}
	.footer__nav {
		font-size: 14px;
	}
	.footer-bottom {
		font-size: 13px;
	}
	.checkbox {
		font-size: 11px;
	}
	.block-form__bottom .checkbox {
		max-width: 221px;
	}
	.modal-wrapper {
		width: 860px;
	}
	.image-modal {
		height: 490px;
		margin-right: 0;
	}
	.text-features {
		font-size: 13px;
	}
	.title-small {
		font-size: 16px;
		line-height: 21px;
	}
	.modal-wrapper .title-small {
		padding-top: 15px;
		padding-bottom: 4px;
	}
	.modal-wrapper .articul {
		margin-bottom: 0px;
	}
	.title-middle {
		font-size: 22px;
		line-height: 28px;
	}
	.modal-wrapper .price-main {
		margin-top: 32px;
	}
	.modal-wrapper .btn-main {
		margin-top: 15px;
	}
	.price-main {
		font-size: 22px;
	}
	.btn-main {
		font-size: 14px;
		height: 50px;
		letter-spacing: 1.3px;
	}
	.line-contacts {
		padding-left: 20px;
	}
	.header-bottom {
		padding: 15px 0;
	}
	.row_about::before {
		top: 15px;
	}
	.header.nav-up {
		transform: translateY(-190px);
	}

	.wrapper_page {
		padding-top: 153px;
	}
	.page-news {
		padding-top: 30px;
	}
	.item-news__image {
		height: 240px;
	}
	.item-news__content {
		padding: 20px 20px;
		padding-top: 15px;
	}
	.item-news__title {
		font-size: 20px;
		line-height: 27px;
		min-height: 54px;
	}
	.article-content h2 {
		font-size: 19px;
		line-height: 29px;
		margin-top: 25px;
	}
	.contact-block__left {
		padding: 30px;
		padding-left: 38px;
		font-size: 13px;
		padding-right: 0;
	}
	.contact-block__left .col-lg-7 {
		padding-right: 0;
	}
	.contact-block a img {
		max-width: 17px;
	}
	.contact-block .descr-big {
		padding-top: 17px;
	}
	.map-contact {
		height: 255px;
	}
	.page-contacts {
		padding-top: 33px;
	}
	.page-thanks {
		padding: 140px 0;
	}
	.title-thanks {
		font-size: 42px;
		margin-bottom: 20px;
	}
	.descr-thanks {
		font-size: 21px;
		max-width: 455px;
	}
	.page-thanks .btn-main {
		margin-top: 40px;
	}
	.item-team__image {
		height: 275px;
	}
	.video-main__logo img {
		width: 390px;
	}
	.video-main__logo {
		top: 35px;
		left: 35px;
	}
	.video-main::before {
		width: 110px;
		height: 110px;
	}
	.about-quote {
		padding: 94px 178px;
		padding-bottom: 56px;
		font-size: 21px;
	}
	.about-quote::before {
		left: 60px;
		right: 60px;
	}
	.text-about {
		column-gap: 98px;
	}
	.title-billbord {
		font-size: 54px;
		max-width: 685px;
	}
	.billbord-block {
		height: 480px;
		padding: 30px 40px;
		margin-bottom: 30px;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.menu a {
		font-size: 11px;
		letter-spacing: 0.1px;
	}
	.logo-descr {
		max-width: 170px;
		font-size: 11px;
		margin-left: 13px;
	}
	.logo img {
		width: 155px;
	}
	.line-contacts a {
		margin-right: 12px;
	}
	.btn-header {
		width: 50px;
	}
	.btn-header__value {
		right: 4px;
	}
	.header-top {
		padding: 6px 0;
		font-size: 11px;
	}
	.row_about > div {
		padding: 30px 20px;
	}
	body {
		font-size: 12px;
	}
	.item-category {
		height: 190px;
	}
	.item-category_big {
		height: 400px;
	}
	.item-delivery {
		padding: 30px 30px;
	}
	.block-form {
		padding: 60px 20px;
	}
	.consultation .block-form {
		margin-left: -50px;
	}
	.consultation__left {
		font-size: 14px;
		margin-right: 50px;
	}
	.consultation__title {
		font-size: 35px;
		margin-bottom: 24px;
		line-height: 44px;
	}
	.block-form__bottom {
		padding-top: 13px;
	}
	.row_contacts {
		margin: 0 -7px;
	}
	.row_contacts > div {
		padding: 0 7px;
	}
	.item-contact {
		height: 325px;
		padding: 15px 15px;
	}
	.item-contact .title-small {
		font-size: 16px;
	}

	.wrapper_page {
		padding-top: 146px;
	}
	.item-news__title {
		font-size: 17px;
		line-height: 25px;
		min-height: 50px;
	}
	.item-news__image {
		height: 205px;
	}
	.nav-article {
		padding: 20px 20px;
	}
	.article .item-news {
		margin-bottom: 15px;
	}
	.card-actions {
		padding: 20px 20px;
	}
	.card-actions .price-main {
		font-size: 25px;
	}
	.card-actions .quantity {
		width: 120px;
	}
	.card-actions__bottom .btn-main {
		font-size: 10px;
	}
	.card-actions__middle {
		padding-bottom: 30px;
	}
	.card-actions__top {
		padding-bottom: 24px;
	}
	.slider-for__item {
		height: 365px;
	}
	.card__right .video-block.video-block_main {
		margin-top: 20px;
	}
	.card__right .title-small {
		padding-top: 5px;
		padding-bottom: 10px;
	}
	.slider-nav__item {
		height: 70px;
		margin: 5px 0;
	}
	.card .title-page {
		margin-bottom: 35px;
	}
	.title-page {
		font-size: 30px;
	}
	.title-billbord {
		font-size: 46px;
		max-width: 580px;
	}
	.billbord-block {
		height: 415px;
	}
	.page-about {
		padding-top: 30px;
	}
	.text-about {
		column-gap: 50px;
	}
	.about-quote {
		padding: 94px 75px;
		padding-bottom: 56px;
		font-size: 19px;
	}
	.item-team__image {
		height: 240px;
	}
	.item-team__title {
		font-size: 16px;
		margin-bottom: 6px;
	}
	.section-team .title-section, .section-video .title-section {
		padding-bottom: 25px;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.header__wrapper .header__location,
	.header__wrapper .header__mail,
	.header__wrapper .header-buttons,
	.header-bottom {
		display: none;
	}
	.header__wrapper .logo-descr {
		display: none;
	}
	.header__wrapper .btn-user {
		font-size: 0;
	}
	.header__wrapper .btn-user img {
		margin: 0;
	}
	.header-middle .header__wrapper {
		justify-content: center;
	}
	.header-middle .header__wrapper .logo-wrap {
		margin-right: 0;
	}
	.header-top {
		position: absolute;
		top: 8px;
		left: 0;
		width: 100%;
		border: none;
	}
	.header-middle {
		padding: 8px 0;
	}
	.billbord {
		padding-top: 130px;
		min-height: 710px;
	}
	.row_about {
		margin-top: 0;
		margin-bottom: 20px;
	}
	.about {
		padding-top: 30px;
		padding-bottom: 20px;
	}
	body {
		font-size: 14px;
	}
	.item-category {
		height: 312px;
	}
	.item-category_big {
		height: 644px;
	}
	.catalog {
		padding-top: 30px;
		padding-bottom: 40px;
	}
	.title-section {
		font-size: 28px;
		line-height: 34px;
	}
	.delivery .title-section {
		padding-bottom: 23px;
	}
	.item-delivery {
		min-height: initial;
		margin-bottom: 20px;
	}
	.delivery {
		padding-bottom: 25px;
	}
	.consultation__left {
		margin-right: 0;
		padding-bottom: 20px;
	}
	.consultation {
		padding-top: 25px;
	}
	.consultation .block-form {
		margin-left: 0px;
	}
	.row_contacts > div {
		margin-bottom: 14px;
	}
	.contacts {
		padding: 40px 0;
	}
	.footer-bottom {
		margin-top: 25px;
		text-align: center;
	}
	.footer-bottom .row > div {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.create {
		justify-content: center;
	}
	.btn_top {
		float: none;
	}
	.footer__content {
		display: none;
	}
	.footer__title i {
		font-size: 13px;
		display: inline-block;
		transition: all 0.3s;
	}
	.footer__title.active i {
		transform: rotate(180deg);
	}
	.footer__title,
	.footer__nav a {
		padding: 10px 0;
		display: flex;
		margin: 0;
		align-items: center;
		justify-content: space-between;
	}
	.footer__nav li {
		margin: 0;
	}
	.footer__logo .logo-descr {
		margin-top: 15px;
	}
	.footer__logo {
		margin-bottom: 15px;
	}
	.footer__nav_big, .footer__title {
		font-size: 15px;
	}
	.footer {
		padding-top: 30px;
	}
	.header {
		transform: none !important;
	}
	.header.fixed .header-top {
		background: transparent;
	}
	.image-modal {
		height: 350px;
		margin-right: -15px;
		margin-bottom: 20px;
		padding: 10px;
	}
	.modal-wrapper .btn-like {
		left: 15px;
		right: auto;
	}
	.modal-wrapper {
		padding-bottom: 30px;
	}
	.modal-wrapper .price-main {
		margin-top: 20px;
	}
	.price-main {
		font-size: 20px;
	}
	.header__wrapper {
		position: static;
	}
	.menu-dropdown {
		padding: 0;
		height: 100vh;
		padding-bottom: 120px;
		width: 100%;
		top: 100%;
		left: 0;
		overflow: auto;
	}
	.nav a {
		padding: 10px 15px;
		border-bottom: 1px solid #373737;
		display: block;
	}
	.nav li {
		margin: 0;
	}
	.menu-dropdown__mobile {
		padding: 0 15px;
		display: block;
	}
	.menu-dropdown__mobile .header-buttons {
		padding-top: 15px;
		display: flex;
	}
	.menu-dropdown .header-buttons img {
		filter: brightness(20%);
	}
	.menu-dropdown .header-buttons  a {
		color: #373737;
	}
	.menu-dropdown .header__mail,
	.menu-dropdown .header__location {
		display: block;
		margin: 0;
		margin-top: 12px;
	}
	.header-top {
		font-size: 13px;
	}
	.line-contacts {
		padding-left: 12px;
	}
	.line-contacts img {
		max-width: 15px;
	}
	.menu-dropdown .btn-header img {
		max-width: 19px;
	}
	.header_mobile {
		color: #373737;
		background-color: #fff;
	}
	.header_mobile .logo img:nth-child(2) {
		opacity: 1;
	}
	.header_mobile .header-top .header__wrapper img {
		filter: brightness(20%);
	}
	.header_mobile .sandwich span {
		background: #373737;
	}
	.header_mobile .btn-header {
		border-color: rgba(55, 55, 55, 0.2);
	}
	.header_mobile .header__wrapper a {
		color: #373737;
	}

	.wrapper_page .header .header-top {
		background: transparent;
	}
	.wrapper_page {
		padding-top: 54px;
	}
	.page-numbers {
		margin: 0 25px;
	}
	.prev.page-numbers {
		margin-right: 40px;
	}
	.next.page-numbers {
		margin-left: 40px;
	}
	.item-news__content {
		padding-bottom: 10px;
	}
	.article-content {
		padding-bottom: 20px;
	}
	.contact-block .title-middle {
		font-size: 20px;
		line-height: 26px;
	}
	.video-block__text {
		display: none;
	}
	.video-block__image {
		width: 222px;
		height: 120px;
		margin: 0;
	}
	.video-block__icon {
		width: 43px;
		height: 43px;
		position: absolute;
		margin: auto;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
	.video-block {
		position: relative;
	}
	.billbord__video {
		padding-top: 140px;
		justify-content: center;
	}
	.billbord {
		padding-bottom: 36px;
	}
	.header__wrapper .btn-user {
		display: none;
	}
	.phone-mobile {
		display: inline-block;
	}
	.billbord {
		background-image: url(../img/billbord_mob.jpg);
		background-position: center;
	}
	.billbord .btn-main {
		padding: 0px 20px;
		font-size: 12px;
		letter-spacing: 1.2px;
	}
	.search-mobile {
		display: block;
		position: relative;
		border-bottom: 1px solid rgba(255, 255, 255, 0.2);
	}
	.search-mobile  input {
		padding: 0 50px;
		height: 36px;
		color: #fff;
		border: none;
		width: 100%;
		background: transparent;
	}
	.btn-search {
		position: absolute;
		top: 0;
		left: 10px;
		width: 36px;
		height: 36px;
		background: transparent;
		border: none;
		color: #fff;
	}
	.wrapper_page .search-mobile input,
	.wrapper_page .btn-search,
	.header.fixed .search-mobile input,
	.header.fixed .btn-search {
		color: #000;
	}
	.wrapper_page .header-middle,
	.header.fixed .search-mobile,
	.wrapper_page .search-mobile,
	.header.fixed .header-middle {
		border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	}
	.wrapper_page {
		padding-top: 90px;
	}
	.buttons-mobile {
		bottom: 0;
		left: 0;
		width: 100%;
		z-index: 900;
		padding: 0 15px;
		padding-right: 24px;
		background: #3B186C;
		position: fixed;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.btn-mobile {
		height: 64px;
		color: #9077B4;
		font-size: 12px;
		font-weight: 500;
		line-height: 140%;
		letter-spacing: 0.36px;
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
	}
	.btn-mobile__title {
		margin-left: 8px;
		width: 20px;
	}
	.btn-mobile__value {
		top: 12px;
		right: -8px;
	}
	.item-category {
		height: 94px;
		margin-bottom: 8px;
		position: relative;
	}
	.categories-mobile {
		display: block;
	}
	.categories-desktop {
		display: none;
	}
	.row_categories > div {
		padding: 0 4px;
	}
	.row_categories {
		margin: 0 -4px;
		align-items: center;
		text-align: center;
	}
	.item-category__title {
		font-size: 14px;
		line-height: 19px;
		padding: 0;
		top: 8px;
		left: 10px;
		text-align: left;
		background: transparent;
		z-index: 2;
	}
	.item-category img {
		position: absolute;
		bottom: 0;
		right: 0;
	}
	.categories .head-section .link-page {
		display: none;
	}
	.row_categories > div:nth-child(2) .item-category img {
		right: 13px;
	}
	.row_catalog > div:nth-child(odd) .item-catalog {
		border-left: 1px solid #C3C3C3;
	}
	.item-catalog {
		border-top: 1px solid #C3C3C3;
	}
	.row_catalog > div:nth-last-child(2) .item-catalog,
	.row_catalog > div:nth-last-child(1) .item-catalog {
		border-bottom: 1px solid #C3C3C3;
	}
	.item-catalog__bottom .btn-main {
		width: 36px;
		height: 32px;
		font-weight: 0;
		background-image: url(../img/basket.svg);
		background-repeat: no-repeat;
		background-position: center;
		color: transparent;
		background-size: 16px auto;
		border-radius: 3px;
	}
	.quantity {
		height: 32px;
		width: 90px;
	}
	.item-catalog {
		padding: 12px;
		padding-top: 0;
	}
	.item-catalog__image {
		height: 164px;
	}
	.item-catalog .tag-card:nth-child(n+2) {
		display: none;
	}
	.item-catalog__title {
		font-size: 14px;
	}
	.item-catalog__top {
		display: block;
	}
	.availability::before {
		width: 16px;
		height: 16px;
		margin-right: 5px;
	}
	.item-catalog__price {
		font-size: 16px;
		margin-bottom: 12px;
	}
	.item-catalog__top {
		font-size: 12px;
	}
	.item-catalog__content .availability {
		position: relative;
		top: 0;
		margin-bottom: 12px;
	}
	.header-bottom {
		position: absolute;
		top: 54px;
		left: 0;
		width: 100%;
		height: 100vh;
		padding-bottom: 120px;
		display: none;
		background: #fff !important;
		transition: initial;
		overflow: auto;
		z-index: 100;
	}
	.menu {
		display: block;
	}
	.menu a {
		font-size: 14px;
		padding: 10px 10px;
		border-bottom: 1px solid #000;
		display: block;
		color: #000;
	}
	.header-bottom_close {
		width: 40px;
		height: 40px;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 24px;
		cursor: pointer;
		color: #000;
		top: -2px;
		right: 4px;
		background-color: #fff;
		position: absolute;
		transition: all 0.4s;
	}
	.breadcrumbs {
		padding-top: 20px;
	}
	.card .breadcrumbs {
		padding-bottom: 15px;
	}
	.col_for {
		order: -2;
	}
	.slider-nav__item {
		height: 85px;
		margin: 0px 5px;
	}
	.slider-nav {
		padding: 0 40px;
		margin-top: 10px;
		margin-bottom: 20px;
	}
	.slider-nav .slick-arrow {
		-webkit-transform: translate(0, -50%);
		-ms-transform: translate(0, -50%);
		transform: translate(0, -50%);
		top: 50%;
		margin: 0;
		bottom: auto;
	}
	.slider-nav .slick-next {
		right: 0;
		left: auto;
	}
	.card .title-page {
		padding-top: 0px;
	}
	.title-page {
		font-size: 26px;
	}
	.video-block.video-block_main .video-block__text {
		display: block;
	}
	.video-block.video-block_main .video-block__icon {
		position: static;
	}
	.title-page_mobile {
		display: block;
	}
	.title-page_desktop {
		display: none;
	}
	.page-thanks {
		padding: 80px 0;
	}
	.title-thanks {
		font-size: 39px;
	}
	.descr-thanks {
		font-size: 19px;
		max-width: 420px;
	}
	.page-about .title-section {
		padding-bottom: 20px;
	}
	.page-about .title-middle {
		margin-bottom: 20px;
	}
	.text-about {
		column-gap: 10px;
	}
	.video-main__logo img {
		width: 200px;
	}
	.video-main::before {
		width: 80px;
		height: 80px;
	}
	.item-team__image {
		height: 280px;
	}
}


/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.title-big {
		font-size: 33px;
	}
	.descr-big {
		font-size: 16px;
	}
	.billbord {
		background-attachment: initial;
	}
	.billbord {
		padding-top: 115px;
		min-height: 545px;
	}
	.item-about__title {
		font-size: 19px;
		margin-bottom: 8px;
	}
	.item-about__title {
		font-size: 17px;
		margin-bottom: 6px;
	}
	.slider-images__item {
		height: 300px;
	}
	.title-section {
		font-size: 24px;
		line-height: 32px;
	}
	.item-category_big {
		height: 400px;
	}
	.categories {
		padding-bottom: 25px;
	}
	.slider-catalog {
		padding-bottom: 25px;
	}
	.slider-catalog .slick-slide {
		padding: 0 1px;
	}
	.catalog .title-section {
		padding-bottom: 25px;
	}
	.block-form__bottom {
		flex-direction: column;
		align-items: center;
	}
	.block-form__bottom .btn-main {
		order: -1;
	}
	.block-form__bottom .checkbox {
		margin-top: 20px;
	}
	.contacts {
		padding-bottom: 25px;
	}
	.consultation__left p {
		margin-bottom: 13px;
	}
	.item-contact {
		height: 340px;
	}
	.video-block {
		font-size: 12px;
	}
	.item-news__title {
		min-height: initial;
	}
	.row_news > div {
		margin-bottom: 20px;
	}
	.article .item-news:last-child {
		margin-bottom: 0;
	}
	.article {
		padding-bottom: 25px;
	}
	.modal-block .block-form {
		padding-top: 60px;
		padding-bottom: 60px;
	}
	.modal-block .block-form .btn-main {
		width: 220px;
		margin-top: 20px;
	}
	.slider-nav__item {
		height: 70px;
	}
	.card .title-page {
		margin-bottom: 25px;
	}
	.title-page {
		font-size: 24px;
	}
	.card-actions {
		margin-top: 20px;
	}
	.card-actions__bottom .btn-main {
		font-size: 13px;
	}
	.title-thanks {
		font-size: 26px;
	}
	.descr-thanks {
		font-size: 16px;
		max-width: 315px;
	}
	.page-thanks {
		padding: 80px 0;
		background-position: 69% 50%;
	}
	.title-billbord {
		font-size: 36px;
		max-width: 555px;
	}
	.billbord-block {
		height: 335px;
		padding: 25px 20px;
	}
	.page-about .title-middle {
		font-size: 18px;
		line-height: 160%;
	}
	.text-about {
		columns: initial;
	}
	.text-about p {
		margin-bottom: 15px;
	}
	.about-quote {
		padding: 60px 15px;
		padding-bottom: 25px;
		font-size: 16px;
	}
	.about-quote::before {
		left: 15px;
		right: 15px;
		top: 30px;
	}
	.about-quote::after {
		width: 45px;
		height: 45px;
		top: 7px;
	}
	.page-about {
		padding-bottom: 30px;
	}
	.video-main__logo {
		top: 15px;
		left: 15px;
	}
	.video-main__logo img {
		width: 120px;
	}
	.video-main::before {
		width: 40px;
		height: 40px;
	}
	.section-video {
		padding-bottom: 35px;
	}
	.row_team {
		margin: 0 -5px;
	}
	.row_team > div {
		padding: 0 5px;
		margin-bottom: 10px;
	}
	.item-team__image {
		height: 225px;
	}
	.item-team__content {
		padding: 10px;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.title-big {
		font-size: 24px;
	}
	.descr-big {
		font-size: 14px;
	}
	.row_about > div {
		padding: 23px 10px;
	}
	.item-about {
		font-size: 13px;
		line-height: 18px;
	}
	.slider-images__item {
		height: 230px;
	}
	.head-section {
		display: block;
	}
	.head-section .link-page {
		margin-top: 15px;
	}
	.item-delivery__head {
		font-size: 18px;
		margin-bottom: 16px;
	}
	.item-delivery {
		padding: 25px 20px;
	}
	.consultation__title {
		font-size: 30px;
		margin-bottom: 20px;
		line-height: 41px;
	}
	.block-form {
		padding: 24px 20px;
	}
	.item-form {
		margin-bottom: 20px;
	}
	.title-form {
		font-size: 20px;
		padding-bottom: 15px;
	}
	.image-modal {
		height: 300px;
	}
	.title-middle {
		font-size: 18px;
		line-height: 24px;
	}
	.head-section {
		margin-bottom: 22px;
	}
	.categories {
		padding-top: 25px;
	}
	.catalog {
		padding-top: 25px;
		padding-bottom: 30px;
	}

	.page-numbers {
		margin: 0 19px;
	}
	.page-news {
		padding-top: 20px;
	}
	.article-content h2 {
		font-size: 17px;
		line-height: 26px;
		margin-top: 20px;
	}
	.article-content ol.list {
		padding-left: 30px;
	}
	.contact-block__left {
		padding: 25px 35px;
	}
	.map-contact {
		height: 200px;
	}
	.billbord .descr-big {
		max-width: 245px;
	}
	.billbord .btn-main {
		margin-top: 48px;
	}
	.slider-for__item {
		height: 275px;
	}
	.title-page {
		font-size: 22px;
	}
	.sertficat-card {
		margin-bottom: 18px;
	}
	.card-actions__bottom .btn-main {
		font-size: 12px;
	}
	.card {
		padding-bottom: 25px;
	}
	.card-actions__bottom .btn-main {
		margin: 0 3px;
	}
	.card-actions__bottom {
		margin: 0 -3px;
	}
	.page-thanks {
		background-position: left center;
	}
	.title-billbord {
		font-size: 30px;
	}
	.page-about {
		padding-top: 25px;
	}
	.page-about .title-middle {
    font-size: 17px;
    line-height: 150%;
}
.about-quote {
	font-size: 14px;
}
.section-team .title-section, .section-video .title-section {
    padding-bottom: 20px;
}
.item-team {
    padding: 5px;
    padding-bottom: 8px;
}
.item-team__image {
    height: 195px;
}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	.header-bottom,
	.footer__content {
		display: block !important;
	}
	.row_catalog > div:nth-child(3n+1) .item-catalog {
		border-left: 1px solid #C3C3C3;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	.row_catalog > div:nth-child(4n+1) .item-catalog {
		border-left: 1px solid #C3C3C3;
	}
}
@media (min-width: 1600px) {
	.container {
		max-width: 1480px;
	}
}